:root {
	--bg-color: #0d1926;
	--typewriterSpeed: 3s;
	--typewriterCharacters: 17;
	--textColor: #41ff00;
	--subtextColor: #b4e1fd;
}

body {
	font-family: "Ubuntu Mono", monospace;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--bg-color);
}

h1 {
	font-size: 4rem;
	line-height: 100%;
	padding: 0.2rem;
	position: relative;
	width: max-content;
	color: var(--textColor);
}

h1::before,
h1::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1::before {
	background: var(--bg-color);
	animation: typewriter var(--typewriterSpeed)
		steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
	width: 0.12em;
	background: var(--textColor);
	animation: typewriter var(--typewriterSpeed)
			steps(var(--typewriterCharacters)) 1s forwards,
		blink 900ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
	font-family: "Ubuntu", sans-serif;
	color: var(--subtextColor);
	font-size: 2rem;
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 2s ease var(--typewriterSpeed) forwards;
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
